<p-card styleClass="app-user-form" class="flex-justify-content-center">
    <form [formGroup]="userForm" (ngSubmit)="submit()" novalidate>
    <div class="field">
            <label for="firstName" class="block">First Name</label>
            <input type="text" pInputText placeholder="First Name" formControlName="firstName"/>
            <small class="p-error block" *ngIf="
          userForm.get('firstName')?.invalid && userForm.get('firstName')?.dirty
        ">
        Your First name is required</small>
    </div>
    <div class="field">
      <label for="lastName" class="block">Last Name</label>
      <input type="text" pInputText placeholder="Last Name" formControlName="lastName" />
    </div>
    <div class="field">
        <label for="ethnicity" class="block">Please select: </label>
        <p-dropdown
            [options]="ethnicityOptions" 
            placeholder="Your ethnicity"
            optionLabel="name"
            formControlName="ethnicity"
            [showClear]="true"> 
        </p-dropdown> 
    </div>
    <div class="field">
        <label for="height" class="block">Height</label>
        <input type="number" pInputText placeholder="Height (cm)" formControlName="height"/>
        <small class="p-error block" *ngIf="
      userForm.get('height')?.invalid && userForm.get('height')?.dirty 
    ">
   A correct height is required</small>
    </div>
    <div class="field">
        <label for="weight" class="block">Weight</label>
        <input type="number" pInputText placeholder="Weight (cm)" formControlName="weight"/>
        <small class="p-error block" *ngIf="
      userForm.get('weight')?.invalid && userForm.get('weight')?.dirty 
    ">
        A correct weight is required</small>
    </div>

    <br>
    <button pButton type="submit" label="Submit" [disabled]="userForm.invalid"></button>
    </form>
</p-card>
